body{
    font-family: 'Otomanopee One', sans-serif;
}
h1{
    font-size: 50px;
}
.indigo{
    color: #FFC107;
}
p {
    padding-right: 3%;
}
section {
    display: flex;
}
.mid {
    width: 120%;
}

.mid img {
    width: 90%;
    padding-left: 8%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#7952B3, #343A40);
    padding: 10px 40px;
    border-radius: 6px;
    color: cornsilk;
    font-weight: 400;
}